<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>HomePage <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rem quia sint, optio vel atque vitae dignissimos
        assumenda incidunt obcaecati laborum perferendis dolores sunt ipsam exercitationem corporis explicabo excepturi
        ut?
        Delectus ratione cumque, voluptatibus qui cum, officiis natus consectetur saepe quidem explicabo praesentium
        beatae eaque, similique exercitationem? Suscipit, perspiciatis dicta aliquam aliquid amet iusto corrupti,
        quisquam voluptatum nobis distinctio dolor!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rem quia sint, optio vel atque vitae dignissimos
        assumenda incidunt obcaecati laborum perferendis dolores sunt ipsam exercitationem corporis explicabo excepturi
        ut?
        Delectus ratione cumque, voluptatibus qui cum, officiis natus consectetur saepe quidem explicabo praesentium
        beatae eaque, similique exercitationem? Suscipit, perspiciatis dicta aliquam aliquid amet iusto corrupti,
        quisquam voluptatum nobis distinctio dolor!</p>
</body>

</html>